
.title{
    font-weight: 700;
    font-size: larger;
    margin-left: -820px;

}

.image{
    height: 25px;
}

.header a{
    text-decoration: none;
    margin-left: 20px;
    font-size: medium;
    font-weight: 700;
    color: black;
}
.header a:hover{
    color: rgb(247, 174, 72);
}