



.stat-bar{
      margin-left: 500px;
      margin-top: 10px;
      width: 500px;
      border: 1px  solid;
      height: 400px;
      padding-top: 10px;
      padding-bottom: 60px;
      padding-right: 40px;
      background-color: rgb(222, 222, 203);

}


@media only screen and (min-width: 320px) and (max-width: 480px){

    .stat-bar{
        margin-left: -40px;
         
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px){

    .stat-bar{
        margin-left: 100px;
    }

}
